---
import MainLayout from "../layouts/MainLayout.astro";
import Project from "../components/Project.astro";
---

<MainLayout title="Spencer Fletcher | Full Stack Web Developer Portfolio">
	<nav>
		<h1>Spencer Fletcher</h1>
		<div>
			<a>Projects</a>
		</div>
	</nav>
	<main>
		<section id="about">
			<h2>About Me</h2>
			<p>
				Hi, I’m Spencer! I'm a full-stack developer who loves building
				performant, data-driven backends. Since I started programming in 2014,
				I've brought ideas to life across a variety of platforms, including web,
				desktop, and mobile applications. I thrive on new challenges and am
				always looking for opportunities to apply my skills and contribute to a
				collaborative team.
			</p>
		</section>
		<section id="tools">
			<h2>Tools & Frameworks</h2>
			<div class="columns">
				<div>
					<h3>Programming</h3>
					<p>Python</p>
					<p>JavaScript</p>
					<p>TypeScript</p>
					<p>C/C++</p>
					<p>Assembly</p>
					<p>HTML</p>
					<p>CSS</p>
					<p>Java</p>
				</div>
				<div>
					<h3>Tools</h3>
					<p>Next.js</p>
					<p>React (Native)</p>
					<p>Django</p>
					<p>Svelte(kit)</p>
					<p>SQL</p>
					<p>Chai</p>
					<p>Git</p>
					<p>Unity</p>
				</div>
				<div>
					<h3>AI</h3>
					<p>Markov Decision Processes</p>
					<p>Markov Networks</p>
					<p>Reinforcement Learning</p>
					<p>Ontologies</p>
					<p>Temporal Inference</p>
					<p>Context Free Grammars</p>
				</div>
			</div>
		</section>
		<section id="projects">
			<h2>Projects</h2>
			<div class="project-grid">
				<Project
					title="Portfolio (ongoing)"
					body="A personal portfolio website (hint: you’re already here!)"
					tools={["Astro", "HTML", "CSS", "Netlify"]}
					code="https://github.com/cidarid/portfolio-astro"
					proj="https://spencerfletcher.com/"
				/>
				<Project
					title="Cadaver Donation Website (2023)"
					body="The University of British Columbia commissioned a redesign of their cadaver donation page. I was chosen to implement the design for UBC. This website is best viewed in desktop format."
					tools={["HTML", "CSS", "Javascript", "Wordpress"]}
					code="https://github.com/cidarid/body-donation-site"
					proj="https://cps.med.ubc.ca/body-donation/"
				/>
				<Project
					title="CPSC317 (2025)"
					body="A collection of C & Java projects and labs I produced for the University of British Columbia's CPSC317 Computer Networking course in Spring 2025."
					tools={["C", "Java"]}
					code="https://github.com/cidarid/CPSC317"
				/>
				<Project
					title="Hollywood Theatre Tip Management (2024)"
					body="The Hollywood Theatre hired me as a freelance worker to automate and modernize their tip splitting system. Once completed, this system saved over 5 hours a week."
					tools={["HTML", "CSS", "Google Apps Script"]}
					notes="No link available for security reasons."
				/>
				<!--
				<Project
					title="Software Engineering Main Project (2023)"
					body="Built a custom query language in TypeScript with a Svelte front end to visualize course data. Unit tested with Chai and course data stored using SQL."
					tools="C, Java"
					code="https://github.com/cidarid/CPSC310"
				/>
				<Project
					title="Computer Systems, Low-Level Projects (2023)"
					body="A collection of C & Java projects and labs I produced for the University of British Columbia's CPSC213 course in Spring 2023."
					tools="C, Java, Assembly (SM213)"
					code="https://github.com/cidarid/CPSC213"
				/>
				<Project
					title="CSC172 (2022)"
					body="A collection of Java projects and labs I produced for the University of Rochester's CSC172 course in Spring 2022."
					tools="Java"
					code="https://github.com/cidarid/CSC172"
				/>
				<Project
					title="CSC171 (2021)"
					body="A collection of Java projects and labs I produced for the University of Rochester's CSC171 course in Fall 2021."
					tools="Java"
					code="https://github.com/cidarid/CSC171"
				/>
				 -->
			</div>
		</section>

		<span id="links">
			<a
				href="https://github.com/cidarid"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="GitHub Profile"
			>
				<img src="/github.svg" height="24" width="24" />
			</a>
			<a
				href="https://www.linkedin.com/in/spencer-fletcher-890b19237"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="LinkedIn Profile"
			>
				<img src="/linkedin.png" height="24" width="24" />
			</a>
		</span>
	</main>
</MainLayout>

<style>
	nav {
		width: 100%;
		box-sizing: border-box;
		display: flex;
		padding: 0 30px;
		margin-top: 16px;
	}

	nav > div {
		margin-left: auto;
		margin-right: 0;
		display: flex;
		align-content: flex-end;
		gap: 10px;
		align-items: center;
	}

	main {
		text-align: center;
		margin: 6% 10%;
		display: flex;
		flex-direction: column;
		gap: 70px;
	}

	nav > h1 {
		font-size: 24px;
		font-weight: 500;
	}

	main > * h2 {
		font-size: 32px;
		font-weight: 500;
	}

	main > section {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	h1,
	h2,
	h3,
	p,
	ul {
		margin: 0;
	}

	.columns {
		display: flex;
		flex-direction: row;
		gap: 20px 12%;
		justify-content: center;
		flex-wrap: wrap;
	}

	.columns > div {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	h3 {
		font-size: 26px;
		font-weight: 500;
	}

	.project-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.project-grid > * h3 {
		font-size: 20px;
		font-weight: 450;
	}

	a {
		color: #f6f6f6;
		text-decoration: none;
		cursor: pointer;
	}

	#links > a {
		margin: 0px 20px;
	}
</style>

<script>
	const buttons = document.querySelectorAll("nav > * a");

	// Handle clicks on each button.
	buttons.forEach((button) => {
		button.addEventListener("click", () => {
			smoothScroll();
		});
	});

	function smoothScroll() {
		document.querySelector("#projects")?.scrollIntoView({
			behavior: "smooth",
		});
	}
</script>
