---
export interface Props {
  title: string;
  body: string;
  tools: string;
  code: string;
  proj?: string;
}

const { title, body, tools, code, proj } = Astro.props;
---

<div class="project">
  <h3>{title}</h3>
  <p>{body}</p>
  <p>{tools ? "Tools used: " + tools : null}</p>
  <div>
    <a href={code} target="_blank">{code ? "Code" : null}</a>
    <br />
    <a href={proj} target="_blank">{proj ? "Working Project" : null}</a>
  </div>
</div>

<style>
  div.project {
    box-sizing: border-box;
    flex-basis: 50%;
    min-width: 250px;
    max-width: 500px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
  }

  h3 {
    font-size: 20px;
    font-weight: 450;
  }

  div > * {
    margin: 0;
  }

  a {
    color: #f6f6f6;
  }

  a:hover {
    color: #0d6efd;
  }
</style>
